/*body{/*text-align:center;background:url(resources/images/bg1.jpg) repeat top center #000;}*/
#instagram{width:1920px;overflow:hidden;margin:0 auto;}
/*.instagram-image{display:block;float:left;width:636px;height:636px;margin:2px;
	-webkit-transform:translate3d(0,0,0);
}*/

/* SOME RESET STYLES 
------------------------------------*/
li{margin:0;}

body {
	background-image: url('../images/slash_it.png')
}
#logo {
	margin:2em auto 1em;
	display:block;
}

#switch {
	display: none;
	width: 49%;
	margin: 0 auto 1em auto;
	background: #16B416;
	color: white;
	border-radius: 1em;
	text-align: center;
	text-decoration: none;
	padding: .5em 0em;
}
#switch:hover {
	background: #0B690B;
}

}
#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}
#instagram img{
	max-width:100%;
	width:100%;
	border-radius:1em;
}

#wrapper{
	max-width: 960px; /* 960 px */ 
	margin: 0 auto;
}

.list{
	width:50%;
	/*width: 103.125%;*/ /* 990px */
	overflow: hidden;
	margin-left: -1.562%; /* 15px */
	margin-bottom: -1.875em; /* 30px */
	float:left;
}

#instagram.list{width:49%;float:left; margin-right: 1%; position: relative;
	padding-bottom: 50px;}
#twitter.list{width: 48%;float: left; margin-left: 2%; position: relative;}

.loader{position: fixed;
   top: 50%;
   left: 50%;
   width: 16px;
   height: 16px;
   margin-top: -8px; /* Half the height */
   margin-left: -8px; /* Half the width */}

.item {
	width: 48%;
	float: left;
	margin: 0px 1%;
	position:relative;}

.paginate{
	position: absolute;
	bottom: 0;}
	
span.heart{
	position: absolute;
	bottom: 0;
	right: 0;}

#instagram img.avatar{
	width: auto;
	position: absolute;
	bottom: 4px;
	left: 0px;}

@media only screen and (max-device-width: 480px) {
	#wrapper{
		max-width: 320px; /* 960 px */ 
		margin: 0 auto;}
	#instagram.list{width:100%;float:left; margin:0;}
	#twitter.list{width: 100%;float: left; margin:0;}
	#twitter.list{
		display:none;}
	#switch {
		display: block;}
} 

/* CUSTOM OVERRIDES
-------------------------------------*/
.jta-tweet-list {
	margin: 0;}

ul.jta-tweet-list li.jta-tweet-list-item {
	padding: 8px;}
	
.jta-tweet-list-autorefresh-trigger,
.jta-tweet-list-controls-button {
	background: #16B416;}
	
	