/*body{/*text-align:center;background:url(resources/images/bg1.jpg) repeat top center #000;}*/
#instagram{width:1920px;overflow:hidden;margin:0 auto;}
/*.instagram-image{display:block;float:left;width:636px;height:636px;margin:2px;
	-webkit-transform:translate3d(0,0,0);
}*/

/* SOME RESET STYLES 
------------------------------------*/
li{margin:0;}

body {
	font-family: 'Droid Sans'
}

h1 {
font-family: 'Droid Sans';
color: #D5D5D5;
text-align: center;
font-weight: normal;
font-size: 1.5em;
text-shadow: 1px 1px 7px purple;
}

body {
	background-image: url('../images/bg.png');

}
#logo {
	margin:2em auto 1em;
	display:block;
}


#switch {
	display: none;
	width: 85%;
	margin: 0 auto 1em auto;
	background: #791695;
	color: white;
	border-radius: 1em;
	text-align: center;
	text-decoration: none;
	padding-bottom: .7em;
	font-size:16px;
	box-shadow: 1px 2px 0px #421C4B;
}

#switch img {
    position:relative;
    top:7px;
}
#switch section {
    display:inline-block;
    margin-right:8px;
    margin-bottom:4px;
    position:relative;
    bottom:3px;
}
#switch:active {color:#421C4B;}

#refresh {
	width:auto;
	margin: 0 auto 1em auto;
	background: #16B416;
	color: white;
	border-radius: 1em;
	text-align: center;
	text-decoration: none;
	padding: 0.5em 1em;
	position: relative;
bottom: 49px;
left: 53%;
font-size: 14px;
padding: 1.2em 2.3em;
}

#switch:hover, #refresh:hover {
	background: #4A0D5C;
}

}
#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}
#instagram img{
	max-width:100%;
	width:100%;
	border-radius:1em;
}

#wrapper{
	max-width: 960px; /* 960 px */ 
	margin: 0 auto;
}

.list{
	width:50%;
	/*width: 103.125%;*/ /* 990px */
	overflow: hidden;
	margin-left: -1.562%; /* 15px */
	margin-bottom: -1.875em; /* 30px */
	float:left;
}

#instagram.list{width:49%;float:left; margin-right: 1%; position: relative;
	padding-bottom: 50px;}
#twitter.list{width: 48%;float: left; margin-left: 2%; position: relative;}

.loader{position: fixed;
   top: 50%;
   left: 50%;
   width: 65px;
   height: 65px;
   margin-top: -33px; /* Half the height */
   margin-left: -33px; /* Half the width */}

.item {
	width: 48%;
	float: left;
	margin: 0px 1%;
	position:relative;}

.paginate{
	position: absolute;
	bottom: 0;}
	
span.heart{
	position: absolute;
	bottom: 0;
	right: 0;}

#instagram img.avatar{
	width: auto;
	position: absolute;
	bottom: 4px;
	left: 0px;}

@media screen and (max-width: 480px) { 
	#wrapper{
		max-width: 320px; /* 960 px */ 
		margin: 0 auto;}
	#instagram.list{width:100%;float:none; margin:0;}
	#twitter.list{width: 100%;float: none; margin:0;}
	#twitter.list{
		display:none;}
	#switch {
		display: block;}
		#refresh {
		display: inline-block;}
} 

#wrapper .jta-tweet-list-autorefresh-trigger
{
	padding: 8px 0px 8px 0px;
	margin-bottom: 10px;
	text-align: center;
    border: 1px solid #999;
    border-top-right-radius:1em;
    border-top-left-radius:1em;
    font-size:16px;
    color:#dddddd;
    background:purple;
    border:0;
    position:relative;
}

/* CUSTOM OVERRIDES
-------------------------------------*/
.jta-tweet-list {
	margin: 0;}

ul.jta-tweet-list li.jta-tweet-list-item {
	padding: 8px;}
	
.jta-tweet-list-autorefresh-trigger,
.jta-tweet-list-controls-button {
	background: #16B416;}
	
#wrapper .jta-tweet-list-controls-button, #instagrammore {
	display: inline-block;
	margin: 0 auto;
	border-radius: 1em;
	background: #5F206F;
	color: whiteSmoke;
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	padding: 1em 2em;
	font-size: 14px;
	border:none;
}	
#wrapper .jta-tweet-list-controls-button:hover, #instagrammore:hover {
	background-color:#4A0D5C;
}

#instagram img.arrow{
 	width: 20px;
height: 20px;
margin-left: 4px;
position: relative;
top: 4px;
}

#credits {
	color:#dddddd;
	font-size:15px;
}

#credits a, #credits a:visited {
	color:#16B416;
	text-decoration:none;
	
}
#credits img {
    display:inline-block;
}
#credits p {
    display: inline-block;
width: 73%;
position: relative;
bottom: 18px;
margin-left: 10px;
}

@media screen and (min-width: 481px)  {
    #twitter {
    	display: inline-block;
    }
    #refresh {
    	bottom: 14px;
		left: 35%;
    }
    #credits {
    	display: block;
	text-align: center;
    }
}